# Làm sạch dữ liệu cơ bản

## 1. Tạo dữ liệu

In [2]:
import pandas as pd
data = {
    "id" : [1,2,3,4,5],
    "name" : [ "Anh", "Phong", "Phú", "Em", None],
    "age" : [15,14,18,28,50],
    "email" : ["anh@vlu.edu.vn", "phong@vanlanguni.vn", "phu@yahoo.com", "em@gmail.com", None],
    "salary" : [None, 70000, 10000, 25000, 15000]
}
df = pd.DataFrame(data)
print(df)

   id   name  age                email   salary
0   1    Anh   15       anh@vlu.edu.vn      NaN
1   2  Phong   14  phong@vanlanguni.vn  70000.0
2   3    Phú   18        phu@yahoo.com  10000.0
3   4     Em   28         em@gmail.com  25000.0
4   5   None   50                 None  15000.0

In [3]:
# Lấy ra 5 dòng đầu tiên
df.head()

   id   name  age                email   salary
0   1    Anh   15       anh@vlu.edu.vn      NaN
1   2  Phong   14  phong@vanlanguni.vn  70000.0
2   3    Phú   18        phu@yahoo.com  10000.0
3   4     Em   28         em@gmail.com  25000.0
4   5   None   50                 None  15000.0

In [4]:
# Kiểm tra dữ liệu thiếu
df.isnull().sum()

id        0
name      1
age       0
email     1
salary    1
dtype: int64

In [10]:
# Điền giá trị thiếu bằng giá trị trung bình cho cột salary
df["salary"].fillna(df["salary"].mean(),inplace=True)

In [11]:
#  Điền giá trị thiếu bằng 
df["name"].fillna("Unknow",inplace=True)
df["email"].fillna("Unknow",inplace=True)

In [12]:
# Kiểm tra lại dữ liệu thiếu
df.isnull().sum()

id        0
name      0
age       0
email     0
salary    0
dtype: int64

In [14]:
df.head()

   id     name  age                email   salary
0   1      Anh   15       anh@vlu.edu.vn  30000.0
1   2    Phong   14  phong@vanlanguni.vn  70000.0
2   3      Phú   18        phu@yahoo.com  10000.0
3   4       Em   28         em@gmail.com  25000.0
4   5  Unknown   50              Unknown  15000.0

In [15]:
# Chuẩn hóa cột name bằng cách việt hóa chữ cái đầu
df["name"] = df["name"].str.title()

In [18]:
# Chuẩn hóa cột email bằng cách chuyển về chữ thường
df["email"] = df["email"].str.lower()

df

   id     name  age                email   salary
0   1      Anh   15       anh@vlu.edu.vn  30000.0
1   2    Phong   14  phong@vanlanguni.vn  70000.0
2   3      Phú   18        phu@yahoo.com  10000.0
3   4       Em   28         em@gmail.com  25000.0
4   5  Unknown   50              unknown  15000.0

In [19]:
# Lưu dữ liệu đã làm sạch
df.to_csv("Dulieulamsach.csv", index=False)

# BÀI TẬP VỀ NHÀ

### Cho dữ liệu dirty_data.csv
1. Kiểm tra dữ liệu bị thiếu:
    - Kiểm tra các cột có dữ liệu thiếu
    - Điền giá trị phù hợp hoặc loại bỏ các hàng có quá nhiều dữ liệu thiếu
2. Phát hiện và sửa lỗi dữ liệu bất thường:
    - Tìm các giá trị bất thường trong cột tuổi (age) có thể là âm hoặc quá lớn
    - Kiểm tra cột thu nhập (income) để phát hiện dữ liệu bị sai 
3. Chuẩn hóa dạng dữ liệu
    - Chuyển hóa cột ngày sinh và dạng chuẩn yyyy-mm-dd 
    - Chuẩn hóa dữ liệu trong cột giới tính(gender) để chỉ có 2 giới tính hợp lệ là "Male" và "Female"
4. Xóa bỏ dữ liệu trùng lặp
    - Xác định và xóa các bản ghi trùng lặp dựa trên thông tin khách hàng
5. Lưu tập dữ liệu đã làm sạch thành tệp mới clean_data.csv

In [30]:
import pandas as pd

# Đọc dữ liệu từ tệp dirty_data.csv
df = pd.read_csv('dirty_data.csv')

# 1. Kiểm tra dữ liệu bị thiếu:
# Kiểm tra các cột có dữ liệu thiếu
missing_data = df.isnull().sum()
print("Dữ liệu thiếu trong các cột:")
print(missing_data)

# Điền giá trị phù hợp cho các cột thiếu:
# - Đối với cột 'income', điền giá trị trung bình
df['income'] = pd.to_numeric(df['income'], errors='coerce')  # Chuyển đổi thành NaN nếu giá trị không phải số
df['income'].fillna(df['income'].mean(), inplace=True)  # Điền giá trị trung bình cho cột 'income'

# - Đối với cột 'age', điền giá trị trung bình nếu thiếu
df['age'].fillna(df['age'].mean(), inplace=True)

# - Đối với cột 'name', thay thế giá trị thiếu bằng 'Unknown'
df['name'].fillna('Unknown', inplace=True)

# - Đối với cột 'gender', thay thế các giá trị không hợp lệ
df['gender'] = df['gender'].apply(lambda x: 'Male' if str(x).lower() == 'male' else ('Female' if str(x).lower() == 'female' else 'Unknown'))

# 2. Phát hiện và sửa lỗi dữ liệu bất thường:
# Tìm các giá trị bất thường trong cột tuổi (age) có thể là âm hoặc quá lớn (tuổi > 120)
df['age'] = df['age'].apply(lambda x: df['age'].mean() if x < 0 or x > 120 else x)

# Kiểm tra cột thu nhập (income) để phát hiện dữ liệu bị sai (thu nhập < 0)
df['income'] = df['income'].apply(lambda x: df['income'].mean() if x < 0 else x)

# 3. Chuẩn hóa dạng dữ liệu:
# Chuyển hóa cột 'dob' thành định dạng yyyy-mm-dd
df['dob'] = pd.to_datetime(df['dob'], errors='coerce').dt.strftime('%Y-%m-%d')

# 4. Xóa bỏ dữ liệu trùng lặp:
# Dựa trên cột 'customer_id' để xác định trùng lặp
df.drop_duplicates(subset=['customer_id'], keep='first', inplace=True)

# 5. Lưu tập dữ liệu đã làm sạch thành tệp mới clean_data.csv
df.to_csv('clean_data.csv', index=False)

# In kết quả sau khi làm sạch dữ liệu
print("\nDữ liệu sau khi làm sạch:")
print(df)

Dữ liệu thiếu trong các cột:
customer_id    0
name           0
age            1
gender         0
dob            0
income         1
email          0
dtype: int64

Dữ liệu sau khi làm sạch:
   customer_id          name   age   gender         dob       income  \
0          101  Nguyen Van A  25.0     Male  1998-05-22  1200.000000
1          102    Tran Thi B  42.0   Female  1981-07-14  4500.000000
2          103      Le Van C  38.2     Male  1995-12-03  3200.000000
3          104  Hoang Minh D  38.2  Unknown  1980-08-25  2966.666667
4          105    Pham Thi E  30.0  Unknown  1993-09-30  2966.666667
5          106  Nguyen Van F  38.2  Unknown  1996-11-02  2500.000000
6          107     Bui Thi G  29.0   Female  1994-06-15  3800.000000
7          108    Dang Van H  40.0  Unknown  1990-01-29  4200.000000
8          109      Vo Thi I  27.0     Male  1995-04-10  3900.000000
9          110    Phan Van J  22.0  Unknown  1999-12-20  2966.666667

           email
0  a@example.com
1  b@example.com
2  c@example.com
3  d@example.com
4  e@example.com
5  f@example.com
6  g@example.com
7  h@example.com
8  i@example.com
9  j@example.com